.container-row {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: left;
}

.container-column {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 80%;
  height: 98vh;
}
