.writeBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 8%;
  margin: 1% 10%;
  background-color: #4ea0a2;
  box-shadow: 0 0 1em 0.1em #1d4e4f inset;
	border-radius: 0.4em;
}

.writeBox > .sendTextInput {
  color: white;
  margin: 3%;
  width: 80%;
  border: 0;
  background-color: #5cbbbe;
  padding: 1.5% 1% 1% 1%;
	box-shadow: 0.1em 0.1em 0.3em #1d4e4f;
	border-radius: 0.2em;
}

.writeBox > .sendMessageButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3%;
  width: 10%;
  border: 0;
  background-color: #5cbbbe;
  color: white;
	box-shadow: 0.1em 0.1em 0.3em #1d4e4f;
	border-radius: 0.2em;
}

.writeBox > .sendMessageButton:hover {
	cursor: pointer;
	color: aliceblue;
}
