.game > .pong {
  position: absolute;
  background-color: #000000;
  top: 20vmin;
  left: 80vmin;
  width: 85vmin;
  height: 60vmin;
}

.game > .pong > .rightplayer {
  position: absolute;
  background-color: #0000ff;
  top: 30vmin;
  right: 5vmin;
  width: 3vmin;
  height: 10vmin;
}

.game > .pong > .leftplayer {
  position: absolute;
  background-color: #ff0000;
  top: 30vmin;
  left: 5vmin;
  width: 3vmin;
  height: 10vmin;
}

.game > .pong > .ball {
  position: absolute;
  background-color: #ffffff;
  width: 1vmin;
  height: 1vmin;
}

.game > .pong > .left_score {
  color: #00ff00;
  position: absolute;
  left: 10vmin;
  top: 5vmin;
}

.game > .pong > .right_score {
  color: #00ff00;
  position: absolute;
  right: 10vmin;
  top: 5vmin;
}

@media (max-width: 1500px) {
  .game > .pong {
    position: absolute;
    background-color: #000000;
    top: 20vmin;
    left: 50%;
    width: 85vmin;
    height: 60vmin;
  }
}

@media (max-width: 1100px) {
  .game > .pong {
    position: absolute;
    background-color: #000000;
    top: 20vmin;
    left: 7vmin;
    width: 85vmin;
    height: 60vmin;
  }
}