.mainTitle3 {
  display: flex;
  flex-direction: column;
  margin: 1em 2em 3em 2em;
}

.mainTitle3 > .titleFriends {
}

.mainTitle3 > .friendsBox {
  background-color: #fcf061;
  padding: 1em 1em;
  border-radius: 0.2em;
}

.mainTitle3 > .friendsBox > .friendCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5cbbbe;
  margin-bottom: 0.5em;
  border-radius: 0.2em;
  padding: 0.1em 1em;
}

.mainTitle3 > .friendsBox > .friendCard > .friendAdd {
  display: inline-block;
  background-color: #fcf061;
  border-radius: 0.5em;
  padding: 0 0.5em 0 0.5em;
  margin: 0.07em 0 0 0;
  font-size: small;
  text-align: center;
  height: 1.7em;
}

.mainTitle3 > .friendsBox > .friendCard > .friendAdd:hover {
  cursor: pointer;
  background-color: #d8cd53;
}

.mainTitle3 > .friendsBox > .friendCard > .friendRmv {
  display: inline-block;
  background-color: #fcf061;
  border-radius: 0.5em;
  padding: 0 0.5em 0 0.5em;
  margin: 0.07em 0 0 0;
  font-size: small;
  text-align: center;
  height: 1.7em;
}

.mainTitle3 > .friendsBox > .friendCard > .friendRmv:hover {
  cursor: pointer;
  background-color: #d8cd53;
}
